In [24]:
import pandas as pd

In [25]:
file = "02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"
df = pd.read_csv(file)
df.columns
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count

In [26]:
#sum number of players
num_players = len(df["SN"].unique())

#create summary dataframe with a dictionary
#add index=[0] if using all scalar (ask TA about this)
summary_table = pd.DataFrame({"Total":num_players}, index = [0])
#Display totla number of playersd
summary_table

   Total
0    576

Purchasing Analysis (Total)

In [35]:
#Avg Total Purchase per Person
#Number of Unique Items
num_unique_items = len(df["Item ID"].unique())

#Average purchase price
avg_purchase_price = df["Price"].mean()

#Total number of purchases
num_purchases = df["Purchase ID"].count()

#Total revenue
revenue = df["Price"].sum()

#create summary dataframe with a dictionary
#add index=[0] if using all scalar (ask TA about this)
purchasing_summary_df = pd.DataFrame({"Number of Unique Items": num_unique_items,
                                     "Average Price":avg_purchase_price,
                                     "Number of Purchases": num_purchases,
                                     "Total Revenue":revenue}, index = [0])

#Optional: give the displayed data cleaner formatting
#avg_purchase_price = avg_purchase_price.map("{:.2%}".format)


#Display the summary data frame

purchasing_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

Gender Demographics

In [36]:
#get number of players
population = len(df["SN"].unique())

#reduce dataframe to Sn and Gender
gender_df = df[["SN", "Gender"]]

#filter for unique SN
#gender_df = df.iloc[df["SN"].nunique(),:]
gender_df = df.drop_duplicates(["SN"])

#create dataframe of value counts
gender_df = pd.DataFrame(gender_df["Gender"].value_counts())

#rename first column
gender_df.columns =["Total Count"]


#add column of percentage of players
gender_df["Percentage of Players"]=gender_df["Total Count"]/population
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2%}".format)
gender_df.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

 Purchasing Analysis (Gender)

In [37]:
# Using GroupBy in order to separate the data into fields according to "state" values
grouped_df = df.groupby(["Gender"])

# The object returned is a "GroupBy" object and cannot be viewed normally...
#print(df)

# In order to be visualized, a data function must be used...
grouped_df.count().head(10)

#Purchase Count
purchase_count = grouped_df["Purchase ID"].count()

#Average purchase price
average_purchase_price = grouped_df["Price"].mean()

#Total purchase value
total_purchase_price = grouped_df["Price"].sum()

#Average Total Purchase per person 
#avg_tot_purch_pp= total_purchase_price/grouped_df["SN"].count()
avg_tot_purch_pp= total_purchase_price/len(grouped_df["SN"].unique())


#optional - format currency
avg_tot_purch_pp = avg_tot_purch_pp.map("${:.2f}".format)
total_purchase_price = total_purchase_price.map("${:.2f}".format)
average_purchase_price = average_purchase_price.map("${:.2f}".format)

# Create a summary dataframe with dictionaries
purchase_summary_df = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": average_purchase_price,
                                    "Total Purchase Price":total_purchase_price,
                                   "Avg Total Purchase per Person":avg_tot_purch_pp })

purchase_summary_df.head()
#total_purchase_price
#grouped_df["SN"].unique()

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$120.65
Male,652,$3.02,$1967.64,$655.88
Other / Non-Disclosed,15,$3.35,$50.19,$16.73

Age Demographics

In [38]:
#use unique tables

#reduce dataframe to Sn and Gender
age_demo_df = df[["SN", "Gender"]]

#filter for unique SN
age_demo_df = df.drop_duplicates(["SN"])


#Establish bins for ages
max_age = age_demo_df["Age"].max()
bins = [0, 9, 14, 19, 24, 29, 34, 39, max_age]
group_names = ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
age_demo_df["Age Group"] = pd.cut(age_demo_df["Age"], bins, labels = group_names)

#group by age group
age_grouped_df = age_demo_df.groupby(["Age Group"])
#age_grouped_df.count().head(10)

#Calculate the numbers and percentages by age group
num_by_bin = age_grouped_df["SN"].count()
percentage_of_players = age_grouped_df["SN"].count()/population

#Optional: round the percentage column to two decimal points
percentage_of_players = percentage_of_players.map("{:.2%}".format)

#Create a summary data frame to hold the results
age_summary_df = pd.DataFrame({"Total count": num_by_bin, 
                            "Percentage of Players": percentage_of_players})

#Display Age Demographics Table
age_summary_df

C:\Users\melis\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

           Total count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

Purchasing Analysis

In [39]:
#Bin the purchase_data data frame by age
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

purchase_count_age = age_grouped_df["Purchase ID"].count()
avg_purchase_price_age = age_grouped_df["Price"].mean()
total_purchase_price_age = age_grouped_df["Price"].sum()
ave_purch_price_per_person_age= total_purchase_price_age/len(age_grouped_df["SN"].unique())

#Optional: give the displayed data cleaner formatting
avg_purchase_price_age = avg_purchase_price_age.map("${:.2f}".format)
total_purchase_price_age = total_purchase_price_age.map("${:.2f}".format)
ave_purch_price_per_person_age = ave_purch_price_per_person_age.map("${:.2f}".format)

#Create a summary data frame to hold the results
purchase_age_summary_df = pd.DataFrame({"Purchase Count": purchase_count_age, 
                                        "Average Purchase Price": avg_purchase_price_age,
                                       "Total Purchase Price":total_purchase_price_age,
                                       "Avg Total Purchase per Person":ave_purch_price_per_person_age})


#Display the summary data frame
purchase_age_summary_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Age Group,,,,
<10,17,$3.39,$57.63,$7.20
10-14,22,$3.07,$67.64,$8.45
15-19,107,$3.10,$331.88,$41.48
20-24,258,$3.06,$790.39,$98.80
25-29,77,$2.91,$223.93,$27.99
30-34,52,$2.92,$151.92,$18.99
35-39,31,$3.51,$108.81,$13.60
40+,12,$3.04,$36.45,$4.56

Top Spenders

In [40]:
#Run basic calculations to obtain the results in the table below
#group by SN
top_spender_df = df.groupby(["SN"])
top_spender_df.count().head()

ts_purchase_count = top_spender_df["Purchase ID"].count()
ts_avg_purchas_price = top_spender_df["Price"].mean()
ts_total_purchase_value = top_spender_df["Price"].sum()

#Optional: give the displayed data cleaner formatting
ts_avg_purchas_price = ts_avg_purchas_price.map("${:.2f}".format)
ts_total_purchase_value = ts_total_purchase_value.map("${:.2f}".format)

#save groupby object into data frame
top_spender_summary_df = pd.DataFrame({"Purchase Count":ts_purchase_count,
                                      "Average Purchase Price": ts_avg_purchas_price,
                                      "Total Purchase Value": ts_total_purchase_value})

#Sort the total purchase value column in descending order
top_spender_summary_df = top_spender_summary_df.sort_values(["Total Purchase Value"], ascending=False)

#Display a preview of the summary data frame
top_spender_summary_df.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

Most Popular Items

In [22]:
#Retrieve the Item ID, Item Name, and Item Price columns
pop_items_df = df[["Item ID", "Item Name", "Price"]]
pop_items_df.head()

#Group by Item ID and Item Name.
pop_items_df = pop_items_df.groupby(["Item ID", "Item Name"])
pop_items_df.count().head(10)

#convert groupby object into dataframe
#pop_items_df =  pd.DataFrame(pop_items_df)
#pop_items_df.head()

#Perform calculations to obtain purchase count, item price, and total purchase value
pop_purchase_count = pop_items_df["Item ID"].count()
pop_item_price = pop_items_df["Price"].unique()
pop_purchase_value = pop_items_df["Price"].sum()

#Optional: give the displayed data cleaner formatting
#pop_item_price = pop_item_price.map("${:.2f}".format)
pop_purchase_value = pop_purchase_value.map("${:.2f}".format)

#Create a summary data frame to hold the results
pop_summary_df = pd.DataFrame({"Purchase Count": pop_purchase_count,
                              "Item Price": pop_item_price,
                              "Total Purchase Value": pop_purchase_value})

#Sort the purchase count column in descending order
pop_summary_df= pop_summary_df.sort_values(["Purchase Count"], ascending = False)

#Display a preview of the summary data frame
pop_summary_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],$50.76
145,Fiery Glass Crusader,9,[4.58],$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,[3.53],$31.77
82,Nirvana,9,[4.9],$44.10
19,"Pursuit, Cudgel of Necromancy",8,[1.02],$8.16

Most Profitable Items

In [76]:
pop_summary_df= pop_summary_df.sort_values(["Total Purchase Value"], ascending = False)
pop_summary_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,[4.99],$9.98
29,"Chaos, Ender of the End",5,[1.98],$9.90
173,Stormfury Longsword,2,[4.93],$9.86
1,Crucifer,3,[3.26],$9.78
38,"The Void, Vengeance of Dark Magic",4,[2.37],$9.48