In [193]:
import pandas as pd

In [194]:
file = "02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"
df = pd.read_csv(file)
df.columns
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count

In [195]:
#sum number of players
num_players = len(df["SN"].unique())

#create summary dataframe with a dictionary
#add index=[0] if using all scalar (ask TA about this)
summary_table = pd.DataFrame({"Total":num_players}, index = [0])

#Display totla number of playersd
summary_table

   Total
0    576

Purchasing Analysis (Total)

In [197]:
#Avg Total Purchase per Person
#Number of Unique Items
num_unique_items = len(df["Item ID"].unique())

#Average purchase price
avg_purchase_price = df["Price"].mean()

#Total number of purchases
num_purchases = df["Purchase ID"].count()

#Total revenue
revenue = df["Price"].sum()



#create summary dataframe with a dictionary
#add index=[0] if using all scalar (ask TA about this)
purchasing_summary_df = pd.DataFrame({"Number of Unique Items": num_unique_items,
                                     "Average Price":avg_purchase_price,
                                     "Number of Purchases": num_purchases,
                                     "Total Revenue":revenue}, index = [0])

#Optional: give the displayed data cleaner formatting
#Display the summary data frame

purchasing_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

Gender Demographics

In [212]:
#get number of players
population = len(df["SN"].unique())

#reduce dataframe to Sn and Gender
gender_df = df[["SN", "Gender"]]

#filter for unique SN
#gender_df = df.iloc[df["SN"].nunique(),:]
gender_df = df.drop_duplicates(["SN"])


#create dataframe of value counts
gender_df = pd.DataFrame(gender_df["Gender"].value_counts())

#rename first column
gender_df.columns =["Total Count"]

#add column of percentage of players
gender_df["Percentage of Players"]=gender_df["Total Count"]/population
gender_df.head()

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

 Purchasing Analysis

In [189]:
# Using GroupBy in order to separate the data into fields according to "state" values
grouped_df = df.groupby(["Gender"])

# The object returned is a "GroupBy" object and cannot be viewed normally...
#print(df)

# In order to be visualized, a data function must be used...
grouped_df.count().head(10)

#Purchase Count
purchase_count = grouped_df["Purchase ID"].count()

#Average purchase price
average_purchase_price = grouped_df["Price"].mean()

#Total purchase value
total_purchase_price = grouped_df["Price"].sum()

#Average Total Purchase per person 
#avg_tot_purch_pp= total_purchase_price/grouped_df["SN"].count()
avg_tot_purch_pp= total_purchase_price/len(grouped_df["SN"].unique())


# Create a summary dataframe with dictionaries
purchase_summary_df = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Average Purchase Price": average_purchase_price,
                                    "Total Purchase Price":total_purchase_price,
                                   "Avg Total Purchase per Person":avg_tot_purch_pp })

purchase_summary_df.head()
#total_purchase_price
#grouped_df["SN"].unique()

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,120.646667
Male,652,3.017853,1967.64,655.880000
Other / Non-Disclosed,15,3.346000,50.19,16.730000

Age Demographics

In [170]:
#Establish bins for ages
max_age = df["Age"].max()
bins =          [0, 9, 14, 19, 24, 29, 34, 39, max_age]
group_names = ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
df["Age Group"] = pd.cut(df["Age"], bins, labels = group_names)

#group by age group
age_grouped_df = df.groupby(["Age Group"])
#age_grouped_df.count().head(10)

#Calculate the numbers and percentages by age group
num_by_bin = age_grouped_df["SN"].count()
percentage_of_players = age_grouped_df["SN"].count()/population

#Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
age_summary_df = pd.DataFrame({"Total count": num_by_bin, 
                            "Percentage of Players": percentage_of_players})

#Display Age Demographics Table
age_summary_df

           Total count  Percentage of Players
Age Group
<10                 23               0.029487
10-14               28               0.035897
15-19              136               0.174359
20-24              365               0.467949
25-29              101               0.129487
30-34               73               0.093590
35-39               41               0.052564
40+                 13               0.016667

Purchasing Analysis

In [177]:
#Bin the purchase_data data frame by age
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

purchase_count_age = age_grouped_df["Purchase ID"].count()
avg_purchase_price_age = age_grouped_df["Price"].mean()
total_purchase_price_age = age_grouped_df["Price"].sum()
ave_purch_price_per_person_age= total_purchase_price_age/len(age_grouped_df["SN"].unique())

purchase_age_summary_df = pd.DataFrame({"Purchase Count": purchase_count_age, 
                                        "Average Purchase Price": avg_purchase_price_age,
                                       "Total Purchase Price":total_purchase_price_age,
                                       "Avg Total Purchase per Person":ave_purch_price_per_person_age})

purchase_age_summary_df
#Create a summary data frame to hold the results


#Optional: give the displayed data cleaner formatting


#Display the summary data frame

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Age Group,,,,
<10,23,3.353478,77.13,9.64125
10-14,28,2.956429,82.78,10.34750
15-19,136,3.035956,412.89,51.61125
20-24,365,3.052219,1114.06,139.25750
25-29,101,2.900990,293.00,36.62500
30-34,73,2.931507,214.00,26.75000
35-39,41,3.601707,147.67,18.45875
40+,13,2.941538,38.24,4.78000

In [ ]:
#create empty dataframe with column header
purchasing_df = pd.DataFrame(columns=[("Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue")]
#purchasing_df
                             
    
                             
                             
#purchasing_df = purchasing_df.append({"Number of Unique Items": num_unique_items,
#                                        "Average Price": avg_purchase_price,
#                                        "Number of Purchases":num_purchases,
#                                        "Total Revenue":num_purchases}, ignore_index=True)                                         



#purchasing_df = purchasing_df.append[num_unique_items, avg_purchase_price, num_purchases,revenue]


#print(purchasing_df)
                             purchasing_df.iloc[0]= [{"Number of Unique Items": num_unique_items,
                                        "Average Price": avg_purchase_price,
                                        "Number of Purchases":num_purchases,
                                        "Total Revenue":num_purchases}]
                             
                             
header = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]
purchasing_df = pd.DataFrame(columns=header)

#populate dataframe
purchasing_df.loc[0] = [num_unique_items, avg_purchase_price, num_purchases, revenue]
purchasing_df