In [4]:
import pandas as pd

In [5]:
file = "02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count

In [6]:
#sum number of players
num_players = len(df["SN"].unique())

#create summary dataframe with a dictionary
#add index=[0] if using all scalar 
summary_table = pd.DataFrame({"Total":num_players}, index = [0])
#Display totla number of playersd
summary_table

   Total
0    576

Purchasing Analysis (Total)

In [8]:
#Avg Total Purchase per Person
#Number of Unique Items
num_unique_items = len(df["Item ID"].unique())

#Average purchase price
avg_purchase_price = df["Price"].mean()

#Total number of purchases
num_purchases = df["Purchase ID"].count()

#Total revenue
revenue = df["Price"].sum()

#create summary dataframe with a dictionary
purchasing_summary_df = pd.DataFrame({"Number of Unique Items": num_unique_items,
                                     "Average Price":avg_purchase_price,
                                     "Number of Purchases": num_purchases,
                                     "Total Revenue":revenue}, index = [0])

#Optional: give the displayed data cleaner formatting
#avg_purchase_price = avg_purchase_price.map("{:.2%}".format)

#Display the summary data frame
purchasing_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

Gender Demographics

In [9]:
#get number of players
population = len(df["SN"].unique())

#reduce dataframe to Sn and Gender
gender_df = df[["SN", "Gender"]]

#filter for unique SN
#gender_df = df.iloc[df["SN"].nunique(),:]
gender_df = df.drop_duplicates(["SN"])

#create dataframe of value counts
gender_df = pd.DataFrame(gender_df["Gender"].value_counts())

#rename first column
gender_df.columns =["Total Count"]


#add column of percentage of players
gender_df["Percentage of Players"]=gender_df["Total Count"]/population

#format percentage of players
gender_df["Percentage of Players"] = gender_df["Percentage of Players"].map("{:.2%}".format)
gender_df.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

 Purchasing Analysis (Gender)

In [10]:
# Using GroupBy in order to separate the data into fields according to "state" values
grouped_df = df.groupby(["Gender"])

# In order to be visualized, a data function must be used...
#grouped_df.count().head(10)

#Purchase Count
purchase_count = grouped_df["Purchase ID"].count()

#Average purchase price
average_purchase_price = grouped_df["Price"].mean()

#Total purchase value
total_purchase_price = grouped_df["Price"].sum()

#Average Total Purchase per person
#----------------------------------
#avg_tot_purch_pp= total_purchase_price/grouped_df["SN"].count()
avg_tot_purch_pp= total_purchase_price/purchase_count

#optional - format currency
#avg_tot_purch_pp = avg_tot_purch_pp.map("${:.2f}".format)
total_purchase_price = total_purchase_price.map("${:.2f}".format)
average_purchase_price = average_purchase_price.map("${:.2f}".format)

# Create a summary dataframe with dictionaries
purchase_summary_df = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Average Purchase Price": average_purchase_price,
                                   "Total Purchase Price":total_purchase_price,
                                   "Avg Total Purchase per Person":average_purchase_price})

#purchase_summary_df.head()
purchase_summary_df.head()

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,$1967.64,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

Age Demographics

In [11]:
#use unique tables

#reduce dataframe to Sn and Gender
age_demo_df = df[["SN", "Gender"]]

#filter for unique SN
age_demo_df = df.drop_duplicates(["SN"])


#Establish bins for ages
max_age = age_demo_df["Age"].max()
bins = [0, 9, 14, 19, 24, 29, 34, 39, max_age]
group_names = ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
age_demo_df["Age Group"] = pd.cut(age_demo_df["Age"], bins, labels = group_names)

#group by age group

age_grouped_df = age_demo_df.groupby(["Age Group"])
#age_grouped_df.count().head(10)

#Calculate the numbers and percentages by age group
num_by_bin = age_grouped_df["SN"].count()
percentage_of_players = age_grouped_df["SN"].count()/population

#Optional: round the percentage column to two decimal points
percentage_of_players = percentage_of_players.map("{:.2%}".format)

#Create a summary data frame to hold the results
age_summary_df = pd.DataFrame({"Total count": num_by_bin, 
                            "Percentage of Players": percentage_of_players})

#Display Age Demographics Table
age_summary_df.head(10)

C:\Users\melis\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

           Total count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

Purchasing Analysis (Age)

In [12]:
#Bin the purchase_data data frame by age
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below
age_demo_df1 = df[["SN", "Gender","Age", "Purchase ID", "Price"]]

#Establish bins for ages
max_age = age_demo_df1["Age"].max()
bins = [0, 9, 14, 19, 24, 29, 34, 39, max_age]
group_names = ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
age_demo_df1["Age Group"] = pd.cut(age_demo_df1["Age"], bins, labels = group_names)
#group by age group

age_grouped_df1 = age_demo_df1.groupby(["Age Group"])
#age_grouped_df.count().head(10)


purchase_count_age = age_grouped_df1["Purchase ID"]
purchase_count_age = purchase_count_age.count()

avg_purchase_price_age = age_grouped_df1["Price"]
avg_purchase_price_age = avg_purchase_price_age.mean()

total_purchase_price_age = age_grouped_df1["Price"]
total_purchase_price_age = total_purchase_price_age.sum()

ave_purch_price_per_person_age= total_purchase_price_age/len(age_grouped_df1["SN"].unique())

#Optional: give the displayed data cleaner formatting
avg_purchase_price_age = avg_purchase_price_age.map("${:.2f}".format)
total_purchase_price_age = total_purchase_price_age.map("${:.2f}".format)
#ave_purch_price_per_person_age = ave_purch_price_per_person_age.map("${:.2f}".format)

#Create a summary data frame to hold the results
purchase_age_summary_df = pd.DataFrame({"Purchase Count": purchase_count_age, 
                                        "Average Purchase Price": avg_purchase_price_age,
                                       "Total Purchase Price":total_purchase_price_age,
                                       "Avg Total Purchase per Person":ave_purch_price_per_person_age})


#Display the summary data frame
purchase_age_summary_df
#age_grouped_df.count().head(10)

C:\Users\melis\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,9.64125
10-14,28,$2.96,$82.78,10.34750
15-19,136,$3.04,$412.89,51.61125
20-24,365,$3.05,$1114.06,139.25750
25-29,101,$2.90,$293.00,36.62500
30-34,73,$2.93,$214.00,26.75000
35-39,41,$3.60,$147.67,18.45875
40+,13,$2.94,$38.24,4.78000

Top Spenders

In [15]:
#Run basic calculations to obtain the results in the table below
#group by SN
top_spender_df = df.groupby(["SN"])
top_spender_df.count().head()

ts_purchase_count = top_spender_df["Item ID"]
ts_purchase_count = ts_purchase_count.count()

ts_avg_purchase_price = top_spender_df["Price"]
ts_avg_purchase_price = ts_avg_purchase_price.mean()

ts_total_purchase_value = top_spender_df["Price"]
ts_total_purchase_value = ts_total_purchase_value.sum()

#Optional: give the displayed data cleaner formatting
ts_avg_purchas_price = ts_avg_purchase_price.map("${:.2f}".format)
ts_total_purchase_value = ts_total_purchase_value.map("${:.2f}".format)

#save groupby object into data frame
top_spender_summary_df = pd.DataFrame({"Purchase Count":ts_purchase_count,
                                      "Average Purchase Price": ts_avg_purchase_price,
                                      "Total Purchase Value": ts_total_purchase_value})

#Sort the total purchase value column in descending order
top_spender_summary_df = top_spender_summary_df.sort_values(["Total Purchase Value"], ascending=False)

#Display a preview of the summary data frame
top_spender_summary_df.head()

              Purchase Count  Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                3.166667                $9.50
Phistym51                  2                4.750000                $9.50
Lamil79                    2                4.645000                $9.29
Aina42                     3                3.073333                $9.22
Saesrideu94                2                4.590000                $9.18

Most Popular Items

In [14]:
#Retrieve the Item ID, Item Name, and Item Price columns
pop_items_df = df[["Item ID", "Item Name", "Price"]]
pop_items_df.head()

#Group by Item ID and Item Name.
pop_items_df = pop_items_df.groupby(["Item ID", "Item Name"])
pop_items_df.count().head(10)

#convert groupby object into dataframe
#pop_items_df =  pd.DataFrame(pop_items_df)
#pop_items_df.head()

#Perform calculations to obtain purchase count, item price, and total purchase value
pop_purchase_count = pop_items_df["Item ID"].count()
pop_item_price = pop_items_df["Price"].unique()
pop_purchase_value = pop_items_df["Price"].sum()

#Optional: give the displayed data cleaner formatting
#pop_item_price = pop_item_price.map("${:.2f}".format)
pop_purchase_value = pop_purchase_value.map("${:.2f}".format)

#Create a summary data frame to hold the results
pop_summary_df = pd.DataFrame({"Purchase Count": pop_purchase_count,
                              "Item Price": pop_item_price,
                              "Total Purchase Value": pop_purchase_value})

#Sort the purchase count column in descending order
pop_summary_df= pop_summary_df.sort_values(["Purchase Count"], ascending = False)

#Display a preview of the summary data frame
pop_summary_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],$50.76
145,Fiery Glass Crusader,9,[4.58],$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,[3.53],$31.77
82,Nirvana,9,[4.9],$44.10
19,"Pursuit, Cudgel of Necromancy",8,[1.02],$8.16

Most Profitable Items

In [20]:
pop_summary_df= pop_summary_df.sort_values(["Purchase Count","Total Purchase Value"], ascending = False) #"Purchase Count",
pop_summary_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,[4.23],$50.76
82,Nirvana,9,[4.9],$44.10
145,Fiery Glass Crusader,9,[4.58],$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,[3.53],$31.77
19,"Pursuit, Cudgel of Necromancy",8,[1.02],$8.16

                                           Price
Item ID Item Name
0       Splinter                               4
1       Crucifer                               3
2       Verdict                                6
3       Phantomlight                           6
4       Bloodlord's Fetish                     5
5       Putrid Fan                             4
6       Rusty Skull                            2
7       Thorn, Satchel of Dark Souls           7
8       Purgatory, Gem of Regret               3
9       Thorn, Conqueror of the Corrupted      4

In [172]:
#ignore this section

df.head()
test = df.groupby(["SN"])
#test.head()
test.count().head(10)
#type(test)

#test["Average per person"] = test
#test = df.groupby(["Gender"])
#test.head()

#test = pd.DataFrame(test)
#test.head()
#test = df["Gender","Price"]
#test.count().head(10)



#test
#Retrieve the Item ID, Item Name, and Item Price columns
#pop_items_df = df[["Item ID", "Item Name", "Price"]]
#pop_items_df.head()

#Group by Item ID and Item Name.
#pop_items_df = pop_items_df.groupby(["Item ID", "Item Name"])
#pop_items_df.count().head(10)
df.head()
pop_items_df = df[["Item ID", "Item Name", "Price"]]
pop_items_df = pop_items_df.groupby(["Item ID", "Item Name"])
pop_items_df.count().head(10)

              Purchase ID  Age  Gender  Item ID  Item Name  Price
SN
Adairialis76            1    1       1        1          1      1
Adastirin33             1    1       1        1          1      1
Aeda94                  1    1       1        1          1      1
Aela59                  1    1       1        1          1      1
Aelaria33               1    1       1        1          1      1
Aelastirin39            2    2       2        2          2      2
Aelidru27               1    1       1        1          1      1
Aelin32                 3    3       3        3          3      3
Aelly27                 2    2       2        2          2      2
Aellynun67              1    1       1        1          1      1