In [34]:
import pandas as pd

In [35]:
file = "02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"
df = pd.read_csv(file)
df.columns
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count
    - Display the total number of players

In [36]:
#sum number of players
num_players = len(df["SN"].unique())

#create empty dataframe with column header
player_count_df = pd.DataFrame(columns=["Total Players"])

player_count_df.loc[0]= [num_players]
player_count_df

  Total Players
0           576

Purchasing Analysis (Total)
    - Run basic calculations to obtain number of unique items, average price, etc.
    - Create a summary data frame to hold the results
    - Optional: give the displayed data cleaner formatting
    - Display the summary data frame

In [37]:
#Number of Unique Items
num_unique_items = len(df["Item ID"].unique())

#Average purchase price
avg_purchase_price = df["Price"].mean()

#Total number of purchases
num_purchases = df["Purchase ID"].count()

#Total revenue
revenue = df["Price"].sum()

#create empty dataframe with column header
header = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]
purchasing_df = pd.DataFrame(columns=header)

#populate dataframe
purchasing_df.loc[0] = [num_unique_items, avg_purchase_price, num_purchases, revenue]
purchasing_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                   183.0       3.050987                780.0        2379.77

Gender Demographics

In [46]:
population = df["Gender"].count()
gender_types =  df["Gender"].unique()
gender_value_counts=df["Gender"].value_counts
gender_value_counts()
#type(gender_value_counts())

gender_value_counts.to_frame()

#gender_df = pd.DataFrame(data =gender_value_counts)
#gender_df

#header = ["Total Count", "Percentage of Players"]
#gender_df = pd.DataFrame(columns=header, index = gender_types)
#gender_value_counts

#practice for male
#temp_df = df.loc[df["Gender"] == "Male" and df["Gender"] == "Female",:]
    
#temp_df.head()
#gender_df

#gender_types, population

AttributeError: 'function' object has no attribute 'to_frame'

In [ ]:
#create empty dataframe with column header
purchasing_df = pd.DataFrame(columns=[("Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue")]
#purchasing_df
                             
    
                             
                             
#purchasing_df = purchasing_df.append({"Number of Unique Items": num_unique_items,
#                                        "Average Price": avg_purchase_price,
#                                        "Number of Purchases":num_purchases,
#                                        "Total Revenue":num_purchases}, ignore_index=True)                                         



#purchasing_df = purchasing_df.append[num_unique_items, avg_purchase_price, num_purchases,revenue]


#print(purchasing_df)
                             purchasing_df.iloc[0]= [{"Number of Unique Items": num_unique_items,
                                        "Average Price": avg_purchase_price,
                                        "Number of Purchases":num_purchases,
                                        "Total Revenue":num_purchases}]