In [102]:
import pandas as pd

In [103]:
file = "02-Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"
df = pd.read_csv(file)
df.columns
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

Player Count
    - Display the total number of players

In [104]:
#sum number of players
num_players = len(df["SN"].unique())

#create dataframe with a dictionary
summary_table = pd.DataFrame({"Total":num_players}, index = [0])
summary_table

#alt code - create empty data frame and add data into first row
#create empty dataframe with column header
#player_count_df = pd.DataFrame(columns=["Total Players"])
#player_count_df.loc[0]= [num_players]

   Total
0    576

Purchasing Analysis (Total)
    - Run basic calculations to obtain number of unique items, average price, etc.
    - Create a summary data frame to hold the results
    - Optional: give the displayed data cleaner formatting
    - Display the summary data frame

In [105]:
#Number of Unique Items
num_unique_items = len(df["Item ID"].unique())

#Average purchase price
avg_purchase_price = df["Price"].mean()

#Total number of purchases
num_purchases = df["Purchase ID"].count()

#Total revenue
revenue = df["Price"].sum()

#create empty dataframe with column header
header = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]
purchasing_df = pd.DataFrame(columns=header)

#populate dataframe
purchasing_df.loc[0] = [num_unique_items, avg_purchase_price, num_purchases, revenue]
purchasing_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                   183.0       3.050987                780.0        2379.77

Gender Demographics

In [106]:
population = df["Gender"].count()
gender_types =  df["Gender"].unique()

#create dataframe of value counts
gender_df = pd.DataFrame(df["Gender"].value_counts())

#rename first column
gender_df.columns =["Total Count"]

#add column of percentage of players
gender_df["Percentage of Players"]=gender_df["Total Count"]/population
gender_df

                       Total Count  Percentage of Players
Male                           652               0.835897
Female                         113               0.144872
Other / Non-Disclosed           15               0.019231

 Purchasing Analysis
     -Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

In [117]:
# Using GroupBy in order to separate the data into fields according to "state" values
grouped_df = df.groupby(["Gender"])

# The object returned is a "GroupBy" object and cannot be viewed normally...
#print(df)

# In order to be visualized, a data function must be used...
grouped_df.count().head(10)

#Purchase Count, returns series
purchase_count = grouped_df["Item ID"].count()
purchase_count

#Average purchase price
average_purchase_price = grouped_df["Price"].mean()
average_purchase_price

#Total purchase value
total_purchase_price = grouped_df["Price"].sum()

#Average Total Purchase per person


purchase_count, average_purchase_price, total_purchase_price

(Gender
 Female                   113
 Male                     652
 Other / Non-Disclosed     15
 Name: Item ID, dtype: int64, Gender
 Female                   3.203009
 Male                     3.017853
 Other / Non-Disclosed    3.346000
 Name: Price, dtype: float64, Gender
 Female                    361.94
 Male                     1967.64
 Other / Non-Disclosed      50.19
 Name: Price, dtype: float64)

In [ ]:
#create empty dataframe with column header
purchasing_df = pd.DataFrame(columns=[("Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue")]
#purchasing_df
                             
    
                             
                             
#purchasing_df = purchasing_df.append({"Number of Unique Items": num_unique_items,
#                                        "Average Price": avg_purchase_price,
#                                        "Number of Purchases":num_purchases,
#                                        "Total Revenue":num_purchases}, ignore_index=True)                                         



#purchasing_df = purchasing_df.append[num_unique_items, avg_purchase_price, num_purchases,revenue]


#print(purchasing_df)
                             purchasing_df.iloc[0]= [{"Number of Unique Items": num_unique_items,
                                        "Average Price": avg_purchase_price,
                                        "Number of Purchases":num_purchases,
                                        "Total Revenue":num_purchases}]